@import url('./vendor/font/fonts.css');
@import url('./normalize.css');

html {
  overflow-x: hidden;
  background-color: black;
}

* {
  margin: 0;
}

.header {
  max-height: 927px;
}

.header__ari {
  height: 927px;
  background-image: url("./image/Ari.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__logo {
  top: 55px;
  left: 155px;
}

.header__logo,
.header__logo-select {
  position: absolute;
  top: 30px;
  left: 100px;
  z-index: 10;
}

.header__logo-select {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal; /* Исправлено значение */
  font-style: normal;
  z-index: 11;
  color: white;
  font-size: 28px;
  margin: 0;
  top: 76px;
  left: 163px;
  margin-left: 101px;
  width: 169px;
}


.header__title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 65px;
  min-width: 169px;
  height: 116px;
  line-height: 80px;
  left: 133px;
  position: relative;
  bottom: 654px;
  color: white;
  z-index: 3;
}

.header__subtitle {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 300;
  font-style: normal;
  position: absolute;
  top: 396px;
  left: 138px;
  width: 540px;
  font-size: 25px;
  line-height: 27px;
  margin: 0;
  z-index: 3;
  color: white;
  height: 60px;
}

.header__postion-button {
  position: relative;
  /* width: 40px; */
  bottom: 655px;
  left: 132px;
}

.header__svyze {
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}

.svyze {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  bottom: 25px;
  position: absolute;
  left: 137px;
  font-size: 21px;
}

.svyze a {
  color: #AA759E;
  text-decoration: none;
}

.list {
  text-align: right;
  position: absolute;
  top: 8px;
  right: 76px;
}

.list__items {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin-top: 68px;
  position: relative;
  right: 52px;
}

.list__item {
  margin-right: 20px;
  color: white;
}

.list__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.list__line {
  right: 8px;
  bottom: 7px;
  position: relative;
}

.about {
  height: 508px;
  text-align: center;
}

.about__container {
  width: 1600px;
  height: 327px;
  margin: 0 auto;
  /* Центрирование по горизонтали */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Центрирование по вертикали */
  padding-top: 100px;
  margin-left: 116px;
  margin-right: 116px;
}

.about__title {
  font-family: "BebasNeue-ru", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: white;
  padding-top: 50px;
}

.about__cats-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* изменяем минимальную ширину и количество колонок */
  gap: 87px;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  /* убираем отступы у списка */
  list-style: none;
  /* убираем маркеры списка */
}

.about__cat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* Добавлено для выравнивания текста по центру */
}

.about-cat {
  max-width: 300px;
  height: 300px;
  margin: 0 auto;
  padding-bottom: 35px;
}

.about__subtitle {
  font-family: "BebasNeue-ru", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #fff;
  width: 323px;
  height: 25px;
}

.study {
  padding-top: 166px;
  width: 100%;
  text-align: center;
}

.study__title {
  font-family: "BebasNeue-ru", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: white;
  padding: 50px 0;
  max-width: 297px;
  height: 40px;
  margin: auto;
}

.study__container {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.study__frame {
  width: 500px;
  height: auto;
  position: relative;
}

.study__frames {
  margin: auto;
  position: relative;
}

.study__frame-inner {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 13%, 100% 99%, 0% 87%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out, opacity 0.5s ease;
  opacity: 1;
}



.inner-one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 7)), url('./image/west-splash.svg');
}

.inner-two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 7)), url('./image/west-splash-2.svg');
}

.inner-three {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 7)), url('./image/west-splash-3.svg');
}

.study__frame-info {
  font-family: "Montserrat-Regular" , sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  position: absolute;
  width: 433px;
  max-height: 132px;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
  text-align: left;
}

.study__frame-info__adictional {
  display: none;
  color: #fff;
}

.study__frame-info__adictional li {
 margin-top: 15px;
}

.study__frames:hover .study__frame-info__adictional {
  margin-top: 15px;
  display: block;
}

.study__frames:hover .inner-one {
  transform: translateY(-20px);
  opacity: 0;
}

.study__frames:hover .inner-two {
  transform: translateY(-20px);
  opacity: 0;
}

.study__frames:hover .inner-three {
  transform: translateY(-20px);
  opacity: 0;
}

/* При наведении на описание товара показываем его с эффектом масштабирования */
.study__frames:hover .study__frame-info {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  top: 30%;
  /* Пример значения, которое поднимает текст наверх */
  transition: opacity 0.5s ease, transform 0.5s ease, top 0.5s ease;
  /* Добавлено свойство transition для плавного перехода */
}

.study__price,
.study__select {
  position: absolute;
  z-index: 1;
}

.study__price {
  font-family: "BebasNeue-ru", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #AA759E;
  font-size: 58px;
  right: 160px;
  max-width: 500px;
  top: 442px;
  left: 15%;
  transform: translateX(-50%);
}

.study__select {
  font-family: "BebasNeue-ru", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  top: 450px;
  background-color: #AA759E;
  color: #ffffff;
  width: 210px;
  height: 48px;
  border-radius: 3px;
  bottom: 0;
  left: 70%;
  transform: translateX(-50%);
  border: transparent;
  cursor: pointer;
}

.study__name {
  font-family: "BebasNeue-ru", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  position: absolute;
  z-index: 1;
  top: 66px;
  /* Подстройте это значение в зависимости от вашего дизайна */
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  max-width: 235px;
  height: 27px;
}


/*workers*/


.workers {
  width: 100%;
  text-align: center;
  color: white;
}

.workers__container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.workers__title {
  font-family: "BebasNeue-ru", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  margin-top: 20px;
}

.coach-image {
  position: relative;
  width: 844px;
  height: 551px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url('./image/Akali.svg');
  background-size: cover;
  background-position: center;
  margin-top: 55px;
  margin-bottom: 55px;
  margin-right: 21px;
  left: 89px;
}

/* Adjusting the coach-slider styling */
.coach-slider .slick-prev, .slick-next {
  z-index: 2;
  color: #fff;
}

.coach-slide {
  position: relative;
}

.coach-slider .slick-prev:before,
.coach-slider .slick-next:before {
  font-size: 30px;
}

.coach-slider .slick-dots {
  bottom: -30px; /* Adjust the position of the dots if necessary */
  font-size: 66px;
}

.coach-slider .slick-dots li button:before {
  color: #fff; /* Adjust the color of the dots */
  font-size: 66px;
}

.coach-slider .slick-dots li.slick-active button:before {
  color: #AA759E; /* Adjust the color of the active dot */
  font-size: 66px;
}

/* Ensure coach info is styled properly */
.coach-info {
  color: white;
  text-align: left;
  position: absolute;
  bottom: 100px;
  right: 514px;
  top: 20px;
  z-index: 2;
  padding: 31px;
  max-width: 320px;
  width: 800px;
  height: 400px;
}

.coach-info h2 {
  margin: 0;
  font-size: 30px;
  font-family: "BebasNeue-ru", sans-serif;
  color: #AA759E;
  background-color: #171616;
  width: 779px;
  height: 39px;
  margin-bottom: 12px;
  padding: 28px 0 25px 31px;
}

.coach-rang {
  width: 349px;
  height: 32px;
  position: relative;
  left: 431px;
  bottom: 106px;
}

.coach-role{
  width: 388px;
  height: 33px;
}

.coach-char{
  width: 780px;
  height: 25px;
  position: relative;
  bottom: 107px;
}
.coach-rang,
.coach-role,
.coach-char {
  margin: 12px 0;
  font-size: 18px;
  background-color: #171616;
  padding: 31px 0 30px 31px;
  font-family: "Montserrat-Regular";
  font-weight: 700;
  font-style: normal;
}

.coach-role img {
  position: relative;
  left: 120px;
  bottom: 35px;
}

.coach-rang img {
  position: relative;
  left: 60px;
  bottom: 64px;
}


.about-coach {
  margin-top: 12px;
  width: 811px;
  bottom: 114px;
  position: relative;
}

.about-coach h3 {
  margin-top: 21px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 5px 10px;
  background-color: #171616;
  padding: 19px 36px 0px;
}

.about-coach ul {
  font-family: "Montserrat-Regular";
  font-weight: 700;
  font-style: normal;
  line-height: 21.78px;
  font-size: 18px;
  padding: 18px 15px 36px;
  background-color: #171616;
}

.about-coach li {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  position: relative;
  left: 50px;
  max-width: 739px;
  height: 83px;
}

/* Reviews Section */
.reviews {
  margin-top: 132px;
  margin-bottom: 150px;
  padding: 40px 0;
  background-color: #000;
  color: #fff;
}

.reviews__title {
  font-family: "BebasNeue-ru", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.reviews__container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.review {

  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.review__image {
  position: relative;
  top: 17px;
  right: 62px;
  border-radius: 10px;
}
.review__image-r{
  position: relative;
  right: 440px;
}
.review__content {
  margin-top: 10px;
}

.review__name {
  position: relative;
  bottom: 60px;
  left: 80px;
  font-size: 18px;
  margin: 10px 0;
}

.review__date {
  position: relative;
  bottom: 60px;
  left: 80px;
  font-size: 14px;
  color: #aaa;
}

.review__text {
  position: relative;
  font-size: 14px;
  bottom: 20px;
  line-height: 1.5;
  margin: 10px 0;
}

.review__link {
  position: relative;
  color: #AA759E;
  left: 300px;
  text-decoration: none;
}

.review__link:hover {
  text-decoration: underline;
}

/* Footer Section */
.footer {
  background-color: #111;
  color: #fff;
  padding: 20px 0;
}

.footer__container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer__logo {
  width: 100px;
  height: auto;
  position: relative;
  right: 500px;
}

.footer__nav {
  position: relative;
  right: 420px;
  margin-bottom: 20px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.footer__link {
  color: #AA759E;
  text-decoration: none;
  font-size: 14px;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  position: relative;
  right: 750px;
  top: 35px;
}

.footer__social img {
  width: 24px;
  height: 24px;
}

.footer__slogan {
  font-size: 16px;
  color: #aaa;
  position: relative;
  left: 460px;
}

